{
	padding: 0;
	margin: 0;
}

.article_2{
	bottom: 50px;
    float: left;
    width: 100%;
    position: relative;
    background: #FFFFFF;

}

.article_2 div{
	float: left;
}

.image_surface_modules{
	width: 41.2%;
	height: 500px;
}

.text_surface_modules{
	background: #FFFFFF;
	width: 58.8%;
	font-family: 'Muli', sans-serif;
	color: #43525a;
}

.text_surface_modules h1{
	font-size: 32px;
    margin-left: 45px;
    margin-top: 101px;
}

.text_surface_modules p{
    margin-left: 45px;
    width: 673px;
    font-size: 14px;
}

.img_surface_modules{
	width: 550px;
	height: 500px;
	overflow: hidden;
}

.button_surface_modules{
    width: 190px;
    height: 37px;
    background: #2d2d2d;
    color: #fff;
    border: none;
   	margin-left: 45px;
   	font-size: 15px;
   	margin-top: 27px;
}


