{
	padding: 0;
	margin: 0;
}

.article_6{
	background: #107999;
    font-family: 'Muli', sans-serif;
	color: #FFFFFF;
	position: relative;
	bottom: 50px;
	float: left;
	width: 100%;
	height: 519px;
}

.article_6_text{
	width: 50%;
	float: left;
}

.article_6_text h1{
	font-size: 32px;
    margin-top: 99px;
    margin-left: 47px;
    width: 521px;
}

.article_6_text p{
	font-size: 17px;
    font-family: 'Muli', sans-serif;
    color: #FFFFFF;
    width: 73%;
    margin-left: 6.5%;
    margin-bottom: 44px;
}

.article_6_img{
	float: left;
	width: 50%;
	background: #1ba3be;
}

.button_article_6{
	width: 176px;
    height: 44px;
    background: #2d2d2d;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-left: 50px;
    margin-top: -9px;
}